$headerGradient1: #2ca6a2;
$headerGradient2: #2ca6a2;
$headerGradient3: #71cabb;
$yellowGradient1: #fecf54;
$yellowGradient2: #feaf38;
$blueGradient1: #30676e;
$searchGradient: #cde6e1;
$headerGradient4: #3a7679;
$exampleHouseFontColor: #69798A;
$orange: #ff7e09;
$welcomeFontColor: #4f696b;
$leftMenuColor: #e9f5f0;
$leftMenuHover: #dde9e5;

$background: 1180px;
$mainFrame: 1000px;